body{
    background-color: rgb(11, 105, 182)
} 
/*style background
style cards
style win and loss letters
*/
h1,h2{
    text-align: center
}
#card {
    transition: .5s
}
#card:hover {
        transform: scale(1.25)
}