body{
    background-color: rgb(11, 105, 182)
} 
/*style background
style cards
style win and loss letters
*/
h1,h2{
    text-align: center
}
.card {
    transition: .5s
}
.card:hover {
    filter:none;
    transform: scale(1.1)
}
#enemy, #playZone:hover {
    transform:none
}
#enemy{
    background-color: crimson;
    border: 1px solid black;
   
}
#playZone{
    border:1px solid white;
    background-color: rgb(11, 105, 182);
    display:block;
    margin: auto
}
.card{
    background-color:black;
    border:1px solid black;
    height: 250px;
    width: 150px;
    margin:10px;
    display: inline-block;
    
    
}
#header{
    border-color: black
}
#divider{
    border-color:rgb(17, 128, 218)
}
img{
    width:150px;
    height:250px;
    object-fit: cover;
}
.playerCards, .enemyCards {
    display:flex;
    justify-content: center;
}